# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
*.log
*.sql
*.sqlite




# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
venv/
ENV/

# C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/
*.vspscc
*.vssscc
*.pdb
*.cache
*.dbmdl
*.log
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.vscode/
*.vs/

# Next.js
.next/
out/
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log*
next-env.d.ts
coverage/

# C# Web-api
backend/InteractiveHub.WebAPI/appsettings.Development.json


# Docker
docker-compose.yml